<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <h1>Вход</h1>
    </head>
    {% if messages %}
    <ul class=flashes style="color: green">
    {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
      </ul>
    {% endif %}
    <hr>
    <body>
        <form action="{{ url_for('login') }}" method="post">
            <div>
                <label>
                  Email:   
                  <input type="text" required name="email" value="{{ user.email|default('') }}">
                </label>
                {% if errors['email'] %}
                  <div style="color: red">{{ errors['email'] }}</div>
                {% endif %}
            </div>
            <div>
                <label>
                  Пароль:
                  <input type="password" required name="password" value="{{ user.password|default('') }}">
                </label>
                {% if errors['password'] %}
                  <div style="color: red">{{ errors['password'] }}</div>
                {% endif %}
            </div>
            <input type="submit" value="Войти">        
        </form>            
        <form action="{{ url_for('new_user') }}" method="get">
            <input type="submit" value="Новый пользователь">
        </form>
    </body>
</html>


