<!doctype html>
<html>
  <head>
    <title>Example application</title>
    <h1>Пользователи</h1>
    {% if messages %}
      <ul class=flashes style="color: green">
    {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
      </ul>
    {% endif %}
  </head>
  <body>    
    <div>
      <ul>
        <li><a href="{{ url_for('home') }}"> Главная</a></li>
      </ul>
    </div>
    <hr>    
      <form action="{{ url_for('users') }}" method="get">
      <input type="search" name="term" value="{{ search }}" />
      <input type="submit" value="Search" />
    </form>
    <ul>
      {% if users['answer'] %}
      <li>{{ users.answer }}</li>
      {% endif %}
    </ul>
    <table>
      {% if users %}
      {% for user in users %}
        <tr>
          <td>
              ID: {{ user.id }} 
          </td>
          <td>
              | 
          </td>
          <td>
              Имя: {{ user.first_name }} 
          </td>
          <td>
              | 
          </td>
          <td>
              Фамилия: {{ user.last_name }} 
          </td>
          <td>
              | 
          </td>
          <td>
              email: {{ user.email }} 
          </td>
        {% endfor %}
        {% endif %}
    </table>
  </body>
</html>