<!doctype html>
<html>
  <head>
    <title>Example application</title>
    <h1>User</h1>
  </head>
  <body>
    <div>
      <ul>
        <li><a href="{{ url_for('index') }}"> Главная</a></li>
        <li><a href="{{ url_for('courses') }}"> Курсы</a></li>
        <li><a href="{{ url_for('users') }}">Пользователи</a></li>
      </ul>
      <hr>
    </div>
    <table>      

      <tr>
        <td>
          ID: {{ user.id }} |
        </td>
        <td>
          FIRST NAME: {{ user.first_name }} |
        </td>
        <td>
          LAST NAME: {{ user.last_name }} |
        </td>
        <td>
          email: {{ user.email }}
        </td>
      </tr>
    </table>
    <hr>
    <table>
      <tr>
        <td>
          <a href="{{ url_for('user', id=user.id-1) }}">Пользователь {{ user.id-1 }}</a>
        </td>
        <td>
          -----------------
        </td>
        <td>
          <a href="{{ url_for('user', id=user.id+1) }}">Пользователь {{ user.id+1 }}</a>
        </td>
      </tr>      
    </table>
  </body>
</html>