<!DOCTYPE html>
<html>
  <head>
    <h1>Новый Пользователь</h1>
  </head>
    <body>
      <div>
        <ul>
          <li><a href="{{ url_for('auth.index') }}"> Главная</a></li>
          <li><a href="{{ url_for('users.index') }}">Пользователи</a></li>
        </ul>
    </div>
    <hr>
    <form action="{{ url_for('users.new_user_post') }}" method="post">
      <div>
        <label>
          Имя:
          <input type="text" required name="first_name" value="{{ user.first_name|default('', true) }}">
        </label>
        {% if errors['first_name'] %}
          <div style="color: red">{{ errors['first_name'] }}</div>
        {% endif %}
      </div>
      <div>
        <label>
          Фамилия:
          <input type="text" required name="last_name" value="{{ user.last_name|default('', true) }}">
        </label>
        {% if errors['last_name'] %}
        <div style="color: red">{{ errors['last_name'] }}</div>
        {% endif %}
      </div>
      <div>
        <label>
          Email
          <input type="email" required name="email" value="{{user.email|default('', true) }}">
        </label>
        {% if errors['email'] %}
        <div style="color:red">{{ errors['email'] }}</div>
        {% endif %}
        </div>
        <div>
          <label>
            Пароль:
            <input type="password" required name="password" value="{{user.password|default('', true) }}">
          </label>
          {% if errors['password'] %}
          <div style="color:red">{{ errors['password'] }}</div>
          {% endif %}
        </div>
        <div>
          <label>
            Подтверждение пароля:
            <input type="password" required name="password_conf" value="{{user.password_conf|default('', true) }}">
          </label>
          {% if errors['password_conf'] %}
          <div style="color:red">{{ errors['password_conf'] }}</div>
          {% endif %}
        </div>
      <input type="submit" value="Зарегестрироваться">
    </form>
  </body>
</html>